<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/materialize.min.css"/>
<script type="application/javascript" src="/js/materialize.min.js"></script>
<body>
<footer class="page-footer" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">CodeingBoy's Toy Projects - Offers Website</h5>
                <p class="grey-text text-lighten-4">Designed and developed by CodeingBoy for educational purpose.
                    Thanks for OpenSource framework like Spring, MyBatis, Thymeleaf, Materialize making it happened!</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Relative Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="http://codeingboy.me">My Blog</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://spring.io/">Spring</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://www.mybatis.org/mybatis-3/">MyBatis</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://www.thymeleaf.org">Thymeleaf</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://materializecss.com">Materialize</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright 2018 - 2018
            <div class="right">;)</div>
        </div>
    </div>
</footer>
</body>
</html>