<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{template}">
<head>
    <title>菜才网</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body>

<main layout:fragment="content">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="/images/slider_1.jpg">
                <div class="caption center-align">
                    <h3>欢迎来到菜才网</h3>
                    <h5 class="light white-text text-darken-3">要想找到好工作，请默念：我只是一只菜鸡（并女装）</h5>
                </div>
            </li>
            <li th:each="o : ${offerList}">
                <img th:if="${o.headerImage != null}" th:src="${'/images/' + ${o.headerImage}}">
                <img th:if="${o.headerImage == null}" src="/images/defaultOfferImage.jpg">
                <div class="caption right-align">
                    <h3 th:text="${o.name}"></h3>
                    <h5 class="light white-text text-darken-3" th:text="${o.description}"></h5>
                </div>
            </li>
        </ul>
    </div>
    <div class="row">
        <div th:each="o : ${offerList}" class="col s6 m4">
            <div class="card">
                <div class="card-image">
                    <img th:if="${o.headerImage != null}" th:src="${'/images/' + ${o.headerImage}}">
                    <img th:if="${o.headerImage == null}" src="/images/defaultOfferImage.jpg">
                    <span class="card-title" th:text="${o.name}">Offer Title</span>
                </div>
                <div class="card-content">
                    <p th:text="${o.description}">Offer description</p>
                </div>
                <div class="card-action">
                    <a th:href="${'/offer/' + o.ID}">招聘详情</a>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        $(function () {
            var loginSucceed = [[${param.loginsucceed != null}]];
            if (loginSucceed) {
                Materialize.toast('欢迎回来，' + [[${#authentication.name}]], 4000);
            }
        });
    </script>
</main>
</body>
</html>