<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.codeingboy.toyprojects.offers.mapper.UserMapper">
    <sql id="tableName">Users</sql>
    <sql id="primaryKeyColumnName">ID</sql>
    <sql id="primaryKeyCondition">
        <include refid="primaryKeyColumnName"/>
        = #{ID}
    </sql>

    <!-- modify resultType to match model type -->
    <select id="fetchAll" resultType="User">
        SELECT * FROM
        <include refid="tableName"/>
    </select>

    <!-- modify resultType to match model type -->
    <select id="fetch" resultType="User">
        SELECT * FROM
        <include refid="tableName"/>
        WHERE
        <include refid="primaryKeyCondition"/>
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM
        <include refid="tableName"/>
    </select>

    <!-- modify this to match database schema -->
    <insert id="add" useGeneratedKeys="true" keyProperty="ID">
        INSERT INTO<include refid="tableName"/>(Username, HashedPassword, Nickname)
        VALUES (#{username}, #{hashedPassword}, #{nickname})
    </insert>

    <!-- modify this to match database schema -->
    <update id="modify" keyProperty="ID">
        UPDATE
        <include refid="tableName"/>
        SET
        Username = #{username},
        HashedPassword = #{hashedPassword},
        Nickname = #{nickname}
        WHERE
        <include refid="primaryKeyCondition"/>
    </update>

    <delete id="delete">
        DELETE FROM
        <include refid="tableName"/>
        WHERE
        <include refid="primaryKeyCondition"/>
    </delete>
</mapper>